.contact {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 900px) {
  .contact {
    flex-direction: row;
    gap: 5;
  }
  .earthCanvas {
    width: 50%;
    height: auto;
  }
  .contactForm {
    width: 50%;
  }
}
